* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
     top: 0;
    left: 0;
    /* background-color: rgb(0, 255, 68); */
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 10.4vw;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    padding-bottom: 2vh;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1vw;
}

.nav-part2 h5 {
    opacity:0;
    visibility: hidden;
    font-size: 1.1vw;        /* bigger */
    font-weight: 500;
    letter-spacing: 0.1px;
    margin-bottom: 0.8vw;
   /* margin-bottom: 1vw;
    display: none;
    overflow: hidden;*/
}
/*
.nav-elem:hover h5{
    opacity: 1;
    transform: translateY(0);
  }  */
.nav-part2 h5 span {
    font-size: 1vw;
    line-height: 1.1vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 8px 3px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    margin-right: 40px;
    z-index: 10;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 9vh;
    position: absolute;
    /* background-color: red; */
    top: 55%;
    left:10.4vw;
    border-bottom: 1px solid #fff;
    overflow:hidden;
    transition: height 0.3s ease;
   /* z-index: 9;*/
} 
/* ================= PAGE 1 ================= */

#page1{
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /*text-align: center;
  padding-top: 5vw;*/
}

#page1 h1{
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.1;
}

#page1 p{ 
  text-align: center;
  margin-top: 1.5vw;
  font-size: 1vw;
  font-weight:400;
}

#page1-something{
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4{
  font-size: 0.9vw;
  font-weight: 400;
  text-transform: lowercase;
  padding: 9px 18px;
  margin-top:0.5vw;
  border: 1px solid rgb(87, 86, 86);
  border-radius: 50px;
}

#page1-something h4:hover{
  background-color: rgb(36, 199, 98);
  color: black;
}
#page1-something h4:nth-last-child(2){
  border: none;
  padding:2px;
}
#moving-div {
  /*background-color: rgb(0, 77, 244);*/
  margin-top: 10vh;
  width: 40%;
  position: absolute;
  bottom: 15%;
  overflow: hidden;
  padding: 2vw;
  height:4vw;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 12s linear infinite;
}

.move {
  display: flex;
  flex-shrink: 0;
}

.move img {
  height: 1.2vw;
  margin: 0 0.8vw;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
#blur-left{
  height: 100%;
  width :20%;
  background:linear-gradient(to right,#000,transparent);
  position: absolute;
  top:0%;
  left:0%;
  z-index:2;
  pointer-events: none;
}
#blur-right{
  height: 100%;
  width :20%;
  background:linear-gradient(to left,#000,transparent);
  position: absolute;
  top:0%;
  right:0%;
  z-index:2;
  pointer-events: none;
}
/*#moving-div {
  background-color: rgb(193, 5, 5);
  margin-top: 10vh;
  width: 40%;
  position: absolute;
  bottom: 15%;
  display:flex;
  /*width:44%
  white-space:nowrap;
  padding:2vw;
  overflow: hidden;
  animation: ani 12s linear infinite;
}*/
/*#moving-div .move{
  display:inline-block;
    flex-shrink: 0;   
  /*animation-name: mobe;
  animation-duration: 5s;*/
 /* animation: ani 8s linear infinite;*/
  /*animation-timing-function: linear;
  animation-iteration-count: infinite;
  align-items: center;

}*/
/*#moving-div .move img{
  height: 1.2vw;
  margin:0.8vw;
}
@keyframes ani{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}*/
/* ================= PAGE 2 ================= */

#page2{
  height: 100vh;
  width: 100%;
  background: black;
  padding: 0vw 10.4vw;
  padding-bottom: 7vw;
  position: relative;
  display: flex;
  align-items: center;
  /*border-top: 1px solid #333;*/
  justify-content: space-between;
}
/*.page2-inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding-top: 3vw;
}*/
#page2-left{
  height: 100%;
  width: 40%;
  /*background-color: #333;*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}
#page2-left p{
  font-size: 1vw;
}
#page2-left h5{
  width:79%;
  font-weight: 400;
  font-size: 1.3vw;
}

#page2-right{
  height: 100%;
  width: 50%;
 /* background-color: #333;*/
}
.right-elem{
  position: relative;
 /* background-color: #ff0000;*/
  padding-top: 3vw;
  padding-bottom: 4.5vw;
  border-bottom: 1px solid#333;
}
.right-elem h2{
  font-size:1.3vw;
  font-weight: 500;
}

.right-elem img {
  height: 5vw;
  width:5vw ;
  border-radius:50%;
  opacity: 0;
  object-fit: cover;
  position: absolute;
  scale: 0;
}

#page3{
  height: 140vh;
  width:100% ;
  background-color: #111;
  position: relative;
  background-image:  url("./20260305_1354_Image\ Generation_remix_01kjyhfxn3fens812npkt61kj7.png ");
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.page3-center{
  /*background-color: red;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
}
.page3-center .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.3vw;
  border-radius: 50%;
  background-color: #fff;
  
}
.page3-center .icon i{
  color: #000;
  font-size:2.8vw ;
}

.page3-center h5{
  font-size: 1.2vw;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 1vw;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(10%);
  text-transform: uppercase;
}
.page3-center:hover h5{
  opacity: 1;
}








